.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}
.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.header-logout {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.header-logout:hover {
    border: 1px solid #282c34;
    border-radius: 5px;
}

/* Modal login */
.container-modal {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    z-index: 1001;
    width: 400px;
    height: 600px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 30px;
}
.modal .btn-close-content {
    display: flex;
    justify-content: flex-end;
}

.modal .btn-close {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 30px;
    color: #282c34;
    cursor: pointer;
    border-radius: 25px;
    transition: border 0.5s ease;
}

.modal .btn-close:hover {
    border-color: #282c34;
}

.modal .title {
    color: #282c34;
}

.modal .form-modal {
    display: flex;
    flex-direction: column;
}

.modal .form-modal .input {
    padding: 20px 10px;
    border: 1px solid #282c34;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}

.modal .form-modal .btn-submit {
    padding: 10px;
    margin-top: 20px;
    background-color: #282c34;
    font-size: 20px;
    border: 1px solid #282c34;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}